{%- liquid
  if block.settings.custom_heading != blank
    assign heading_text = block.settings.custom_heading
  else
    assign heading_text = linklists[block.settings.menu].title
  endif
-%}

{%- if linklists[block.settings.menu].links.size > 0 -%}
  {%- if block.settings.show_footer_title -%}
    <h2 class="h4 footer__title small--hide">
      {{ heading_text }}
    </h2>
    <button
      type="button"
      class="h4 footer__title collapsible-trigger collapsible-trigger-btn medium-up--hide"
      aria-controls="Footer-{{ block.id }}"
    >
      {{ heading_text }}
      {%- render 'collapsible-icons' -%}
    </button>
  {%- endif -%}
  <div
    {% if block.settings.show_footer_title %}
      id="Footer-{{ block.id }}" class="collapsible-content collapsible-content--small"
    {% endif %}
  >
    <div class="collapsible-content__inner">
      <div class="footer__collapsible{% unless block.settings.show_footer_title %} footer_collapsible--disabled{% endunless %}">
        <ul class="no-bullets site-footer__linklist">
          {%- for link in linklists[block.settings.menu].links -%}
            <li>
              <a href="{{ link.url }}">{{ link.title }}</a>
            </li>
          {%- endfor -%}
        </ul>
      </div>
    </div>
  </div>
{%- endif -%}
