<div class="footer__logo-block">
  {%- if block.settings.logo -%}
    {%- style -%}
      .footer__logo a {
        height: {{ block.settings.desktop_logo_height }}px;
      }
    {%- endstyle -%}
    <div class="footer__logo">
      <a href="{{ routes.root_url }}">
        {%- assign width = block.settings.desktop_logo_height | times: block.settings.logo.aspect_ratio | times: 2 -%}
        {%- assign height = block.settings.desktop_logo_height -%}
        {%- capture sizes -%}{{ block.settings.desktop_logo_height | times: block.settings.logo.aspect_ratio }}px{%- endcapture -%}
        {%- capture widths -%}{{ block.settings.desktop_logo_height | times: block.settings.logo.aspect_ratio }}, {{ block.settings.desktop_logo_height | times: block.settings.logo.aspect_ratio | times: 2 }}{%- endcapture -%}
        {%- capture style -%}max-width: {{ block.settings.desktop_logo_height | times: block.settings.logo.aspect_ratio }}px;max-height: {{ block.settings.desktop_logo_height }}px;{%- endcapture -%}

        {%-
          render 'image-element',
          img: block.settings.logo,
          img_width: width,
          img_height: height,
          sizes: sizes,
          widths: widths,
          style: style,
          alt: block.settings.logo.alt | default: shop.name,
        -%}
      </a>
    </div>
  {%- endif -%}

  {%- if block.settings.show_brand_text and block.settings.brand_text != blank -%}
    <div class="footer__brand-text rte">
      {{ block.settings.brand_text }}
    </div>
  {%- endif -%}

  {%- if block.settings.show_social_icons -%}
    <div class="footer__social">
      {%- render 'social-icons', additional_classes: 'footer__social-icons' -%}
    </div>
  {%- endif -%}
</div>
